<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>
<body>
    <ul>
        <li>
            <a href="/">home</a>
        </li>
        <li>
            <a href="/question/list">question list</a>
        </li>
        <li>
            <a href="/question/random">random question</a>
        </li>
    </ul>
    {{{body}}}
 
</body>
</html>